/* pages/cart/index.wxss */
.price {
  color: #fd2b2b;
  font-weight: 700;
}

.card {
  position: relative;
  box-sizing: border-box;
  height: 230rpx;
  padding: 20rpx;
  border-bottom: 1rpx solid #ccc;

  .title {
    margin-bottom: 10rpx;
  }

  .specification {
    margin-bottom: 10rpx;
    font-size: 28rpx;
    color: #555;
  }

  .stepper {
    position: absolute;
    right: 20rpx;
    bottom: 10rpx;
    display: flex;

    input {
      box-sizing: border-box;
      width: 140rpx;
      height: 80rpx;
      border: 1rpx solid #ffa72b;
      border-radius: 40rpx;
      text-align: center;
      margin: 0 10rpx;
    }

    .btn {
      position: relative;
      box-sizing: border-box;
      width: 80rpx;
      height: 80rpx;
      border-radius: 50%;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #fff;
        transform: translate(-50%, -50%);
        content: "";
      }
    }

    .btn.minus {
      border: 1rpx solid #ffa72b;

      &::before {
        height: 4rpx;
        width: 50%;
        background-color: #ffa72b;
      }
    }

    .btn.plus {
      background: #ffa72b;

      &::before {
        width: 4rpx;
        height: 50%;
      }

      &::after {
        height: 4rpx;
        width: 50%;
        color: #ffa72b;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e1e1e1;

  .result {
    height: 80rpx;
    line-height: 80rpx;
    padding: 0 20rpx;
    background: #fff;
  }

  .action {
    background: #ff0000;
    color: #fff;
    height: 100rpx;
    line-height: 100rpx;
    font-size: 40rpx;
    display: flex;
    justify-content: space-between;
    text-align: center;

    &>view {
      flex: 1;
    }

    .add {
      background: #ffa72b;
    }

    .topay {}
  }
}

.empty {
  margin: 200rpx auto;
  text-align: center;
  font-size: 32rpx;
  color: #555555;

  .img {

    image {
      margin: 0 auto;
      width: 200rpx;
      height: 200rpx;
    }
  }

  .scancode {
    padding: 20rpx;
    background: #f5ba47;
    border-radius: 10rpx;
    margin: 0 auto;
    width: 200rpx;
    color: #fff;
  }
}