/* pages/shopping/index.wxss */
.shopping {
  .banner {
    width: 750rpx;
  }
  .scan-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5ba47;
    color: #fff;
    margin: 60rpx auto;
    width: 260rpx;
    height: 260rpx;
    border: 20rpx solid #fce9bc;
    border-radius: 50%;
    text-align: center;
    font-size: 28rpx;
    font-weight: 100;
    image {
      width: 120rpx;
      height: 120rpx;
    }
  }
}
